spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://localhost:8081
              predicates:
                - Path=/users/**
              filters:
                - StripPrefix=1
                - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials



eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
