spring:
  application:
    name: Gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://localhost:8081
              predicates:
                - Path=/users/**
              filters:
                - StripPrefix=1
                - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

jwt:

  secret: cCd8F0jjX/cYQvSUWvVO8ipDrO/4fd1iEgNTCwWDjMxneZcK1OwRj/Mgn3gDyBoPo7YZS+hyUBi6Scd2LrKJLw==

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true

server:
  port: 8080
