server:
  port: 8080

spring:
  application:
    name: Gateway
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: user-service
              uri: http://localhost:8081
              predicates:
                - Path=/users/**
              filters:
                - StripPrefix=1



eureka:
  client:
    register-with-eureka: true
    fetch-registry: true

